<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='responsive.css')}}">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <div class="logo">
                        <h2><a href="#">Classic</a></h2>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            {% if logged_in: %}
                            {% if current_user.id == 1: %}

                            <li><a href="/new">New Post</a></li>

                            {% endif %}
                            {% endif %}
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/logout">Log out</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>