{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
<div class="wrapper">
<section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>Log in</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container forms">
    <div style="color:red">
          {% for message in get_flashed_messages() %}
          {{message}}
          {% endfor%}
        </div>
    {{ wtf.quick_form(form, button_map={"submit": "primary"}, novalidate=True) }}
</div>
    </div>
{% include "footer.html" %}